<TelerikLoaderContainer OverlayThemeColor="light"
                        Visible="@( !IsInitialDataLoadComplete )"
                        Text="@null">
    <Template>
        <div>
            <span><TelerikIcon ImageUrl="images/svg/swex-preloader.svg"></TelerikIcon></span>
        </div>
    </Template>
</TelerikLoaderContainer>

@code {
    
    [Parameter]
    public bool IsInitialDataLoadComplete { get; set; }
}
