@using WWI.Warehouse.Audit.Shared
<style>
    .table-button {
        width: 100%;
        min-width: 90px;
        height: 50px;
        background-color: green;
        font-weight: bold;
        color: white
    }

        .table-button:hover, .button-red:hover, .button-green:hover {
            background-color: #124877b3;
        }

    .button-red {
        background-color: #d12652;
        color: white;
        height: 50px;
    }

    .button-green {
        background-color: green;
        color: white;
        height: 50px;
    }

    .bottle-image {
        width: 65px;
        height: auto;
    }

    .k-button {
        padding: 0;
        font-size: 0.85rem;
    }

    .action-button {
        padding: 0;
        font-size: 1.3rem;
    }
</style>


@{
    var columns = Shelf.Columns;
    var rows = Shelf.Rows;

    <table style="border:none; width:100%">
        <thead>
            <tr>
                <th class="text-center" style="width:50px"></th>
                @foreach (var column in columns)
                {
                    <th class="text-center">@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in rows)
            {
                <tr>

                    <td>@row</td>
                    @foreach (var column in columns)
                    {
                        var bottleContainer = Shelf.GetLocation(column, row);
                        <td>
                        
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public ShelfModel Shelf { get; set; }
    bool WindowVisible { get; set; } = false;
    StorageLocationModel CurrentItem { get; set; } = new StorageLocationModel();

    public async Task DisplayModalWindow(string? column, int row)
    {
        CurrentItem = Shelf.GetLocation(column, row);
        WindowVisible = true;
    }

    public async Task Close()
    {
        CurrentItem = new StorageLocationModel();
        WindowVisible = false;
    }
}
